[submodule "data/ghost/content/themes/edge"]
	path = data/ghost/content/themes/edge
	url = git@github.com:TryGhost/Edge.git
[submodule "data/ghost/content/adapters/storage/ghost-storage-back-blaze"]
	path = data/ghost/content/adapters/storage/ghost-storage-back-blaze
	url = git@gitlab.com:RedSerenity/Ghost/Adapters/ghost-storage-back-blaze.git
[submodule "data/ghost/content/adapters/storage/ghost-cloudflare-r2"]
	path = data/ghost/content/adapters/storage/ghost-cloudflare-r2
	url = git@github.com:egeldenhuys/ghost-cloudflare-r2.git
